<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github API Search</title>
</head>

<body>
    <div>
        <form action="/githubapi/show" method="GET">
            <h1>Search for a Github Repo</h1>
                <label>http://</label><input type="text" placeholder="Github Repository URL" className="github-search" name="query"/>
                <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>